.parent 
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal .ant-modal-body
{
  height: calc(105vh - 200px);
  overflow: auto;
}
::placeholder
{
  color: black;
}
.header 
{
  display: flex;
  align-items: baseline;
}
.ant-typography 
{
  margin-top: 10px;
}

.date-picker 
{
  background-color: aliceblue;
  border-color: transparent;
  width: 250px;
}
.down-arrow 
{
  font-size: smaller;
}

.content-one, .content-two 
{
  width: 100%;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content-three ,.content-four ,.content-five ,.content-six ,.content-seven
{
  width: 100%;
  display: flex;
  padding-right: 20px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.text-button 
{
  padding: 0px 0px;
  color: blue;
  background-color: transparent;
}
.text-button:hover 
{
  background-color: transparent !important;
}
.ant-space-gap-col-small ,.ant-space
{
  row-gap: 0px;
}
.text-button :hover 
{
  background-color: transparent;
}
.select-opt .ant-select-selector,
.select-opt-two .ant-select-selector,
.select-opt-three .ant-select-selector,
.select-opt-four .ant-select-selector,
.select-opt-five .ant-select-selector,
.select-opt-six .ant-select-selector{
  background-color: aliceblue!important;
  border-color: transparent !important;
  padding: 0 2px;
}
.creator-picker .ant-select-selector
{
  border-color: transparent !important;
}
.creator-picker .ant-select-selector
{
  background-color: aliceblue !important;
}
.id-picker .ant-select-selector ,.title-picker .ant-select-selector
{
  background-color: aliceblue !important;
  border-color: transparent !important;
}
.add-condition-button 
{
  margin: 10px 0px;
}
#btn-conditions
{
  background-color: transparent;
  padding: 3px 20px;
  border-color: blue;
  color: blue;
}